{% extends 'hacker_news/base.html' %}
{% block content %}
<h3>Add a comment on</h3>
<h5>{{news.title}}</h5>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="">Add Comment</button>
</form>
{% endblock%}