{% extends 'hacker_news/base.html' %}
{% block content %}
{% for newsitem in news %}
<div class="post">
    <div class="date">
        {{ newsitem.timestamp }}
    </div>
    {% if newsitem.url %}
    <a href="//{{newsitem.url}}" style="text-decoration:none; color:black">{{newsitem.title}}</a>
    {% else %}
    <h7>{{newsitem.title}}</h7>
    {% endif %}
    <p>{{ newsitem.body }}</p>
    <!-- |linebreaksbr -->
    <!-- {% if user.is_authenticated%}
    <a href="{% url 'comment' pk=newsitem.pk %}">discus<a>
            {% endif %} -->
    <a href="{% url 'news_comments' pk=newsitem.pk %}">comments</a>
</div>
<br>
<br>
{% endfor %}
{% endblock %}