{% extends 'hacker_news/base.html' %}
{% block content %}
<div class="post">
    <div class="date">
        {{ news.timestamp }}
    </div>
    <h5>{{news.title}}</h5>
    {% if news.url %}
    <a href="{{new.url}}">{{ news.url }}</a>
    {% endif %}
    <p>{{ news.body }}</p>
</div>
{% if user.is_authenticated%}
<form method="POST" class="post-form" action="{% url 'comment' pk=news.pk%}">{% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="">Add Comment</button>
</form>
{% endif %}
{% for comment in comments %}
{% if comment.parent is None %}
<div class="post">
    <h3>{{comment.user.username}}</h3>
    <div class="date">
        {{ comment.timestamp }}
    </div>
    <p>{{comment.body}}<p>
            {% if user.is_authenticated %}
            <a href="{% url 'reply' news_pk=news.pk comment_pk=comment.pk %}">reply</a>
            {% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock%}