{% extends 'hacker_news/base.html' %}
{% block content %}
<h3>Add a reply to</h3>
<h3>{{parent_comment.user.username}}</h3>
<div class="date">
    {{ parent_comment.timestamp }}
</div>
<p>{{parent_comment.body}}<p>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="">Add a reply</button>
        </form>
        {% endblock%}