{% extends 'hacker_news/base.html' %}
{% block content%}
<h3>Add a news</h3>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="">Add News</button>
</form>
{% endblock %}